body {
    font-family: 'Montserrat';
    font-size: 4vh;
    
}

.yazi {
    display: flex;
    justify-content: center;
    /* Yatay ortalama */
    align-items: center;
    margin-top: 10vh;
    color: #d7c2b8;
}

.yazi h1 {
    text-align: center;
    
}

.sef {
    margin-right: 3.5vh;
    margin-left: 3.5vh;
margin-top:6vh ;
    padding: 10px;
    background-color: #282523;
    border-radius: 3vh;
}

.custom-card{
    background-color: #282523!important;
    border-color: #282523;
    color: #d7c2b8;
    border: 1px solid #d7c2b8!important;
    border-radius: 3vh!important;
}
.bg-dark-custom {
      background-color: hsl(11, 70%, 32%);
        border: 1.3vw solid #f6d4b1; 


}
.custom-btn{

    background-color: #282523!important;
    border-color: #282523!important;
    color: #d7c2b8!important;
    border-radius: 3vh!important;
}
.custom-btn p{
    font-size: 10px!important;
}
.custom-btn:hover{
    border: 1px solid #d7c2b8!important;

}
.iyi{
    color: #d7c2b8;
    font-size: 1vh;
}
.sozsuz{
    display: none!important;
    background-color: #d7c2b8!important;
}
.yari{
    background-color: #d7c2b8!important;
    color: #282523!important;


}
    .yazi {

        margin-top: 7vh;
    }

    .yazi h1 {
        
        font-size: 4.5vh;
    }

    .sef {

        color: #d7c2b8;

    }
    .sef h3{
        display: flex;
        justify-content: center;
        /* Yatay ortalama */
        align-items: center;
        font-size: 3vh;
        font-weight: bold; 
                text-align: center;

    }
    .sef p {
        font-size: 2.2vh;
        color: #d7c2b8;
        text-align: center;
    }
    .iyi h1{
        font-size: 4vh;
        font-weight: bold; 
        margin-top: 7vh;
    }
@media (max-width: 700px) {
    .yazi {

        margin-top: 7vh;
    }

    .yazi h1 {
        
        font-size: 4.5vh;
    }

    .sef {

        color: #d7c2b8;

    }
    .sef h3{
        display: flex;
        justify-content: center;
        /* Yatay ortalama */
        align-items: center;
        font-size: 3vh;
        font-weight: bold; 
                text-align: center;

    }
    .sef p {
        font-size: 2.2vh;
        color: #d7c2b8;
        text-align: center;
    }
    .iyi h1{
        font-size: 4vh;
        font-weight: bold; 
        margin-top: 7vh;
    }
}